{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h3>Сброс пароля</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="row mb-3">
                                    <label for="{{ field.id_for_label }}"
                                           class="col-sm-4 col-form-label">{{ field.label }}</label>
                                    <div class="col-sm-8">
                                        {{ field }}
                                        {% if field.help_text %}
                                            <div class="form-text">{{ field.help_text }}</div>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger mt-1">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary w-100">Восстановить мой пароль</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}