{% extends 'base.html' %}

{% block title %}Письмо отправлено{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h3>Письмо для сброса пароля отправлено</h3>
                    </div>
                    <div class="card-body text-center">
                        <p>Мы отправили вам инструкции по установке пароля на ваш адрес электронной почты. Если письмо не пришло в течение нескольких минут, проверьте папку со спамом.</p>
                        <a href="{% url 'users:login' %}" class="btn btn-primary mt-3">Вернуться на страницу входа</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}