{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if is_edit %}Редактировать рассылку{% else %}Новая рассылка{% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="card shadow-sm mb-4">
                    <div class="card-header bg-white">
                        <h4 class="mb-0">
                            {% if is_edit %}Редактирование рассылки{% else %}Создание новой рассылки{% endif %}
                        </h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}

                            <div class="mb-3 row align-items-center">
                                <label for="{{ form.message.id_for_label }}"
                                       class="col-sm-4 col-form-label">Сообщение:</label>
                                <div class="col-sm-8">
                                    {{ form.message }}
                                    {% if form.message.errors %}
                                        <div class="text-danger">{{ form.message.errors }}</div>{% endif %}
                                </div>
                            </div>

                            <div class="mb-3 row align-items-center">
                                <label for="{{ form.recipients.id_for_label }}" class="col-sm-4 col-form-label">Получатели:</label>
                                <div class="col-sm-8">
                                    {{ form.recipients }}
                                    {% if form.recipients.errors %}
                                        <div class="text-danger">{{ form.recipients.errors }}</div>{% endif %}
                                </div>
                            </div>

                            <div class="mb-3 row align-items-center">
                                <label for="{{ form.first_send_datetime.id_for_label }}"
                                       class="col-sm-4 col-form-label">Дата и время первой отправки:</label>
                                <div class="col-sm-8">
                                    {{ form.first_send_datetime }}
                                    {% if form.first_send_datetime.errors %}
                                        <div class="text-danger">{{ form.first_send_datetime.errors }}</div>{% endif %}
                                </div>
                            </div>

                            <div class="mb-4 row align-items-center">
                                <label for="{{ form.end_send_datetime.id_for_label }}" class="col-sm-4 col-form-label">Дата
                                    и время окончания отправки:</label>
                                <div class="col-sm-8">
                                    {{ form.end_send_datetime }}
                                    {% if form.end_send_datetime.errors %}
                                        <div class="text-danger">{{ form.end_send_datetime.errors }}</div>{% endif %}
                                </div>
                            </div>
                            <div class="mb-4 row align-items-center">
                                <label for="{{ form.status.id_for_label }}"
                                       class="col-sm-4 col-form-label">Статус:</label>
                                <div class="col-sm-8">
                                    {{ form.status }}
                                    {% if form.status.errors %}
                                        <div class="text-danger">{{ form.status.errors }}</div>{% endif %}
                                </div>
                            </div>

                            <div class="d-flex justify-content-start gap-3">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                                {% if is_edit %}
                                    <a href="{% url 'delete_mailing' object.pk %}" class="btn btn-danger">Удалить</a>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-end">
                <a href="{% url 'mailings' %}" class="btn btn-outline-secondary">Вернуться в мои рассылки</a>
            </div>
        </div>
    </div>
{% endblock %}